/* styling for Contact Us page  */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

.content-container {
    background: url("/images/cafe-691956_1920.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100px;
    min-width: 100%;
}

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#efefef;
}

.form-container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #Ff3b3f;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
 	resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#caebf2;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background: #ff3b3f;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { 
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

/* styling for Contact Us page  */
.contact-container {
    min-height: 100vh;
    position: relative;
}

.follow-container {
	text-align: center;
}

/* footer styling */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 7em;
    line-height: 60px;
	background-color: #A9A9A9;
    /* background-image: url("/images/Newlogo.png") no-repeat; */
}
/* 
social media buttons
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

/* Facebook */
/* .fa-facebook {
    background: #3B5998;
    color: white;
} */

/* Twitter */
/* .fa-twitter {
    background: #55ACEE;
    color: white;
} */

/* Instagram */
/* .fa-instagram {
    background: #F24A61;
    color: white;
} */

/* .social-container {
	text-align: center;
} */

/* Truck 1 individual map */
  
  .image {
	display: block;
	width: 100%;
	height: auto;
  }
  
  .overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 100%;
	height:0;
	transition: .5s ease;
  }
  
  .container:hover .overlay {
	bottom: 0;
	height: 100%;
  }
  
  .text {
	white-space: nowrap; 
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  }


.container-fluid .truck1-desc {
	background-color: black
}

.color-block {
	/* height: 20em; */
	background-color: #ff3b3f;
	/* opacity: 0.8; */
	width: 100%;
	padding-bottom: 3em;
	/* margin-top: 5px; */
 }

 .color-block2 {
	height: 38em;
	background-color: #caebf2;
	/* opacity: 0.8; */
	width: 100;
	/* margin-top: 5px; */
	padding-top: 30px;
 }

 .truck1-desc {
	 text-align: center;
	 /* text */
 }

 #truck1-p {
	 text-align: center;
	 /* font-weight: bold; */
	 color: white;
	 /* text-decoration: underline; */
	 text-transform: uppercase;
	 letter-spacing: 2px;
	 font-size: 450%;
 }

 #truck1-menu {
	 text-align: center;
	 color: #777;
	 text-transform: capitalize;
	 line-height: 1.6;
 }

 #truck1-info {
	text-align: center;
	color: white;
 }

 #menu-name {
	text-align: center;
	color: #777;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 400%;
	/* font-weight: bold; */
 }

 /* list view button layover image styling */
 .list-container {
	width: 50%;
	margin:0 auto;
	position:relative;
	padding-top: 3em;
	padding-bottom: 3em;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.list-container:hover .image {
  opacity: 0.3;
}

.list-container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #ff3b3f;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* MAIN PAGE */

#featured-trucks {
	text-align: center;
	font-weight: bold;
}

.map-container {
	width: 100%;
	margin-top: 2em;
	margin-bottom: 5em;
}

#main-map {
	height: 500px;
	position: relative;
}

#truck-name {
	color: #FF3B3F;
	text-transform: uppercase;
}

.feature-container {
	position: relative;
	height: 80vh;
	/* width: 100%; */
}

.left{
	position: relative;
	width: 50%;
	height: 100%;
	float: left;
	background-image: url(/images/icecream.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.top-right{
	position: relative;
	width: 50%;
	height: 50%;
	float: right;
	background-image: url(/images/cantina.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.bottom-right{
	position: relative;
	width: 50%;
	height: 50%;
	float: right;
	background-image: url(/images/dreamland-bbq.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.collage:hover .collage-overlay {
	opacity: 1;  
}

.collage-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #ff3b3f;
  }
  
  .collage-text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  }

/* Nav Bar */

.navbar {
	color: #FF3B3F;
	text-transform: uppercase;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 1.5em;
}

.truck-nav {
	background-color: #CAEBF2;
	text-align: center;
}

.logo-container {
	width: 100%;
	text-align: center;
	margin-top: 1em;
	padding: 0;
}

.logo {
    text-align: center;
    margin: auto;
	padding:0;
	max-width: 530px;
	width: 100%;
}

.custom-center {
	margin: auto;
}

.nav-item {
	margin-right: 1em;
	margin-left: 1em;
}

#navbar-links a{
	color: #777;
}

.divider-vertical {
	height: 1.5em;
	margin-top: 0.5em;
    border-left: 2px solid #FF3B3F;
    border-right: 2px solid rgb(67 182, 200);
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}

.separator {
	font-size: 18px;
}

.main-send {
	text-align: center;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 3em;
}

.main-donate {
	text-align: center;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 3em;
}

.main-join {
	text-align: center;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 3em;
}

.icon-container {
	width: 100%;
	color: #ff3b3f;
}

.about-us {
	padding-top: 5em;
	padding-bottom: 5em;
}

.main-button {
	background-color: #FF3B3F;
	color: #CAEBF2;
	font-weight: bold;
	border-style: none;
	width: 50%;
	margin-top: 1.5em;
	text-transform: uppercase;
}

.main-about-us {
	background-color: #caebf2;
}

/* donation page */
.donation-page {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.donation-header {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	background-color: #CAEBF2;
	height: 330px;
	width: 100%;
	margin-top: 5em;
	padding: 25px;
	margin: 25px;
}

.truckicon {
	background-image: url('/images/truckicon.png');
	max-width: 100%;
	height: 62px;
	background-repeat: no-repeat;
	background-position: center;
}

#header-p {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	color: white; 
	font-size: 400%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1;
	/* font-size: 450%; */
}

#header-h4 {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	text-align: center;
}

.donation-table {
	display: table;
	height: 100%;
	margin: 0 auto;

}

.donation-container {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	background:#F9F9F9;
	padding:25px;
	margin:25px;
}

.payment {
	color: #FF3B3F;
	text-align: center;
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
}

#donate-button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#caebf2;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#donate-button[type="submit"]:hover {
	background: #ff3b3f;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#donate-button[type="submit"]:active { 
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}


/* TRUCKS LIST */

.truck-row {
	/* margin-bottom: 3em; */
	padding: 2em;
}

.trucks-container {
	width: 80%;
	margin-top: 3em;
}

.truck-listname {
	text-transform: uppercase;
	color: #FF3B3F;
	font-weight: bold;
}

.watermelon-button {
	height: 3em;
	width: 30%;
	line-height: 3em;
	background-color: #FF3B3F;
	text-align: center;
}

.color-block3 {
	height: 25em;
	background-color: #ff3b3f;
	/* opacity: 0.8; */
	width: 100%;
	margin-top: 5px;
 }

 .figure {
	 width: 100%;
	 padding: 0;
	 margin: 0;
 }
<<<<<<< HEAD
=======
 #test-div {
	 height: 90px;
	 width: 90px;
	 border: 2px solid black
 }
>>>>>>> 79a74b162dd2e6bdfa8e3d0fcab1acd4f4ccbc74

/* create truck page */

 #createtruck-btn {
	 background-color: #CAEBF2;
	 color: white;
	 border: 0 none;
	 letter-spacing: 1px;
	 text-transform: uppercase;
	 padding: 15px 32px;
 }

 #createtruck-btn:hover {
	background-color: #ff3b3f;
	color: white;
	border: 0 none;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 15px 32px;
}

.create-container {
	padding: 35px;
}

.create-page {
	margin-top: 35px;
	margin-left: 175px;
	margin-right: 175px;
	margin-bottom: 35px;
}

/* login page */
#foodtruckers {
	background-color: white;
	margin: 10px;
	padding: 35px;
	width: 100%;
	height: 100px;
	display: inline-block;
	text-align: center;
}
