<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<main-navigation></main-navigation>

<p class="create-pagetext">Add New Menu Item</p>
<div class="container menu-form">

    <form ng-submit="save()">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="item" placeholder="Item Name" />            
        </div>

        <div class="form-group">
            <input type="text" class="form-control" ng-model="price" placeholder="Item Price"/>
        </div>
        <button class="menu-button">Save</button>
        <a href="/menu" class="back-links">Go Back</a>
    </form>
</div>