<main-navigation></main-navigation>
<div class="container trucks-container">
    <div ng-repeat="truck in trucks"> 
    <div class="row truck-row">
        <div class="col-sm-4">
            <img ng-src="{{ truck.imgone }}" style="width:100%">
        </div>
        <div class="col-sm-8">
            <h3 class="truck-listname">{{ truck.truckName }}</h3>
            <h6 class="list-category"><strong>Category:</strong> {{ truck.categoryName }}</h6>
            <br>
            <h6><strong>Description:</strong> {{ truck.description }}</h6>
            <h6 class="list-category"><strong>Current Location:</strong></h6>
            <br>
            <a ng-href="/{{truck.id}}" class="list-btn">
                <div class="watermelon-button">More Info</div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
    </div>
</div>

<footer-nav></footer-nav>