
<main-navigation></main-navigation>
<div class="contain">
    <div id="foodtruckers">
        <p class="foodtruckers2">Welcome back, Foodtruckers! </p></br> </br>
    </div>
</div>
</br>
<div class="foodtrucker2-class">
<p class="foodtruckers3">Login to update your menu, schedule and photos!</p>
</div>

    <div class="login-container">
        <form ng-submit="login()" class="login-form">
            <input type="email" class="form-control" placeholder="Email Address" ng-model="email" />
            <input type="password" class="form-control" placeholder="Password" ng-model="password" />
            <button class="btn">Login</button>
        </form>
        <hr class="divider">
        <div>
            <p class="small-text">New to Truck Hunt?</p>
            <button ng-click="createUser()" class="btn">Create an Account</button>
        </div>
    </div>
</div>


</br> </br> 
<footer-nav></footer-nav>