<main-navigation></main-navigation>

<div id="user-list">
    <h3>Update Menu</h3>
    <form>
        <div ng-repeat="menu in menus" class="form-group">
            <label for="firstName">Menu Item Name</label>
            <input class="form-control" ng-model="menu.item" id="item"></input>
            <label for="firstName">Update {{ menu.item }} Price</label>
            <input class="form-control" ng-model="menu.cost" id="item"></input>
            <a ng-href="/menu/{{ menu.idmenus }}">
            <button type="button" class="btn btn-danger">Modify Item</button>
             </a>
        </div>

        <button type="button" class="btn btn-danger" ng-click="updateMenu()">Update</button>
        <button type="button" class="btn btn-danger" ng-click="">Add New Item</button>
    </form>
</div>