<main-navigation></main-navigation>

<div class="container-fluid menu-hero">
    
</div>
<div class="container" id="menu-container">
    <div class="menu-title">
        <h1>Update Menu</h1>
    </div>
    <div ng-repeat="menu in menus" class="menu-items">
        {{ menu.item }} {{ menu.cost | currency}}
        <a ng-href="/menu/{{ menu.idmenus }}">
            <i class="fa fa-pencil" id="pencil"></i>
        </a>
    </div>
    <div class="create-item text-center">
        <a href="/menu/create" class="list-btn">
            <div class="watermelon-button" id="menu-button">
                <i class="fa fa-plus"></i> Add new Item
            </div>
        </a>
        <a href="/truckOwners" class="back-links">Go Back</a>
    </div>
</div>

<footer-nav></footer-nav>