<main-navigation></main-navigation>
<div class="contact-container">
    <div class="form-container menu-form">
        <h2 class="text-center">Create an account</h2>
        <form ng-submit="save()">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="username" placeholder="Create a Username" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="email" placeholder="Enter Your Email Address" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="password" placeholder="Enter Your Password" />
            </div>
            <button class="menu-button">Create</button>
        </form>
    </div>
</div>