<main-navigation></main-navigation>
<div class="container">
    <div class="owner-text">
        <h1>Manage or create your food truck</h1>
    </div>
    <div class="owner-buttons">
        <div class="row">
            <div class="col-sm-4" id="create-truck">
                <a href="/createTruck">
                    <h1>Create New Truck</h1>
                    <i class="fa fa-plus fa-5x"></i>
                    <!-- <p class="owner-description">Set up a new truck</p> -->
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/menu">
                    <h1>Update Menu</h1>
                    <i class="fa fa-pencil fa-5x"></i>
                    <!-- <p class="owner-description">Make updates to an existing truck</p> -->
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/schedule">
                    <h1>Update Schedule</h1>
                    <i class="fa fa-calendar fa-5x"></i>
                    <!-- <p class="owner-description">Make updates to an existing truck</p> -->
                </a>
            </div>
        </div>
    </div>
</div>