<main-navigation></main-navigation>
<div class="container owner-container">
    <div class="owner-text">
        <p>Manage or create your food truck</p>
    </div>
    <div class="owner-buttons">
        <div class="row">
            <div class="col-sm-4" id="create-truck">
                <a href="/createTruck">
                    <h1>Create New Truck</h1>
                    <i class="fa fa-plus fa-5x"></i>
                    <div class="headerDivider"></div>
                    <!-- <p class="owner-description">Set up a new truck</p> -->
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/menu">
                    <h1>&nbsp &nbsp Update &nbsp &nbsp Menu</h1>
                    <i class="fa fa-pencil fa-5x"></i>
                    <div class="headerDivider"></div>
                    <!-- <p class="owner-description">Make updates to an existing truck</p> -->
                </a>
            </div>
            <div class="col-sm-4">           
                <a href="/schedule">
                    <h1>&nbsp &nbsp Update &nbsp &nbsp Schedule</h1>
                    <i class="fa fa-calendar fa-5x"></i>
                    <!-- <p class="owner-description">Make updates to an existing truck</p> -->
                </a>
            </div>
        </div>
    </div>
</div>

<footer-nav></footer-nav>